---
# All checks except signed bitwise warnings and unused parameter warnings
Checks: '*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-init-variables,-hicpp-signed-bitwise,-misc-unused-parameters'
WarningsAsErrors: '*'
HeaderFilterRegex: 'Corresponding Header'
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions:
  - key: ''
    value: ''
